@{
    ViewData["Title"] = "Movie List";

    <style>
        body {
            font-family: "Open Sans", sans-serif;
            color: #444444;
            background: #cccccc;
        }
    </style>

}

<h2> My Movie List</h2>

<p> Hello from our View Template!</p>
