@{
    ViewData["Title"] = "Faceit Last Match";

    <style>
        body {
            font-family: "Open Sans", sans-serif;
            color: #444444;
            background: #cccccc;
        }
    </style>

}

<h2> Your live Faceitmatch @ViewData["Name"]</h2>

<p>Couldn't find a Faceit Live Match</p>