@{
    ViewData["Title"] = "No SteamId";

    <style>
        body {
            font-family: "Open Sans", sans-serif;
            color: #444444;
            background: #cccccc;
        }
    </style>

}

<h2> No Faceitaccount with Steam64Id @ViewData["Name"] found</h2>


